@if (isRoleElement && winningElement) {
<div class="win box" [style.animation-delay.ms]="animationDelayInMs">
  <img
    [ngSrc]="assetService.getRoleImage(guessAttribute)"
    width="76"
    height="76"
    [alt]="guessAttribute"
    class="icon img-appear"
    [style.animation-delay.ms]="animationDelayInMs"
  />
</div>
} @else if(isRoleElement && isCorrect) {
<div class="correct box" [style.animation-delay.ms]="animationDelayInMs">
  <img
    [ngSrc]="assetService.getRoleImage(guessAttribute)"
    width="76"
    height="76"
    [alt]="guessAttribute"
    class="icon img-appear"
    [style.animation-delay.ms]="animationDelayInMs"
  />
</div>
} @else if (isRoleElement) {
<div class="incorrect box" [style.animation-delay.ms]="animationDelayInMs">
  <img
    [ngSrc]="assetService.getRoleImage(guessAttribute)"
    width="76"
    height="76"
    [alt]="guessAttribute"
    class="icon img-appear"
    [style.animation-delay.ms]="animationDelayInMs"
  />
</div>
} @else if (isSchoolElement && winningElement) {
<div class="box win" [style.animation-delay.ms]="animationDelayInMs">
  <img
    [ngSrc]="assetService.getSchoolImage(guessAttribute)"
    width="76"
    height="76"
    [alt]="guessAttribute"
    class="icon img-appear"
    [style.animation-delay.ms]="animationDelayInMs"
  />
</div>
} @else if (isSchoolElement && isCorrect) {
<div class="correct box" [style.animation-delay.ms]="animationDelayInMs">
  <img
    [ngSrc]="assetService.getSchoolImage(guessAttribute)"
    width="76"
    height="76"
    [alt]="guessAttribute"
    class="icon img-appear"
    [style.animation-delay.ms]="animationDelayInMs"
  />
</div>
} @else if (isSchoolElement) {
<div class="incorrect box" [style.animation-delay.ms]="animationDelayInMs">
  <img
    [ngSrc]="assetService.getSchoolImage(guessAttribute)"
    width="76"
    height="76"
    [alt]="guessAttribute"
    class="icon img-appear"
    [style.animation-delay.ms]="animationDelayInMs"
  />
</div>
} @else if (isStudentElement && winningElement && !useIconInsteadOfName) {
<div class="win student box" [style.animation-delay.ms]="animationDelayInMs">
  {{ label }}
</div>
} @else if (isStudentElement && !useIconInsteadOfName) {
<div class="student box" [style.animation-delay.ms]="animationDelayInMs">
  {{ label }}
</div>
} @else if (winningElement && !useIconInsteadOfName) {
<div class="win box" [style.animation-delay.ms]="animationDelayInMs">
  {{ label }}
</div>
} @else if (isCorrect && !useIconInsteadOfName) {
<div class="correct box" [style.animation-delay.ms]="animationDelayInMs">
  {{ label }}
</div>
} @else if (!isCorrect && !useIconInsteadOfName){
<div class="incorrect box" [style.animation-delay.ms]="animationDelayInMs">
  {{ label }}
</div>
} @else if (winningElement && useIconInsteadOfName) {
<div class="student box win">
  <img
    [ngSrc]="image"
    width="76"
    height="76"
    [alt]="alternativeLabel"
    class="portrait"
    [style.animation-delay.ms]="animationDelayInMs"
  />
</div>
} @else if (useIconInsteadOfName) {
<div class="student box correct">
  <img
    [ngSrc]="image"
    width="76"
    height="76"
    [alt]="alternativeLabel"
    class="portrait"
    [style.animation-delay.ms]="animationDelayInMs"
  />
</div>
}
