.empty-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.empty-box {
  width: 72px;
  height: 72px;
  background-color: transparent;
  border: 2px solid whitesmoke;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  text-align: center;
}
