.result-container {
  > * + * {
    margin-left: 0.25rem;
  }
}

.refresh-button .refresh-button-icon .refresh-button-wrapper {
  color: whitesmoke;
}

button {
  color: whitesmoke;
  cursor: pointer;
}
