<ba-grid-element-container
  [isFlipped]="getFlipString()"
  [animationDelayMs]="animationDelayMs"
  [won]="guess === answer"
>
  @if (guess && answer) {
  <div
    [ngClass]="[
      correctGuess() ? 'correct' : 'incorrect',
      answer.exSkillCost > guess.exSkillCost ? 'arrow-up' : '',
      answer.exSkillCost < guess.exSkillCost ? 'arrow-down' : ''
    ]"
    class="flex items-center justify-center text-center p-2 overflow-hidden h-full"
  >
    <span class="block text-white">{{ exSkillCost }}</span>
  </div>
  }
</ba-grid-element-container>
