<ba-grid-element-container
  [isFlipped]="getFlipString()"
  [animationDelayMs]="animationDelayMs"
  [won]="guess === answer"
>
  @if (guess && answer) {
  <div
    [ngClass]="[correctGuess() ? 'correct' : 'incorrect']"
    class="flex items-center justify-center text-center p-2 overflow-hidden h-full"
  >
    <span class="block text-sm truncate text-white">{{
      guess.exSkillCost
    }}</span>
    @if (answer.exSkillCost > guess.exSkillCost) {
    <span class="ml-2 text-white">↑</span>
    } @if (answer.exSkillCost < guess.exSkillCost) {
    <span class="ml-2 text-white">↓</span>
    }
  </div>
  }
</ba-grid-element-container>
