.arrow-up,
.arrow-down {
  position: relative;
  color: whitesmoke;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.arrow-up::before,
.arrow-down::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: invert(22%) sepia(5%) saturate(17%) hue-rotate(37deg) brightness(90%)
    contrast(89%);
}

.arrow-up::before {
  background-image: url("/assets/images/icons/arrow-top-icon.svg");
}

.arrow-down::before {
  background-image: url("/assets/images/icons/arrow-bottom-icon.svg");
}
