<form class="guess-form">
  <mat-form-field class="guess-full-width outline-white" appearance="outline">
    <mat-label>Type student name</mat-label>
    <input
      #input
      type="text"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      (input)="filter()"
      (focus)="filter()"
    />
    <mat-autocomplete requireSelection #auto="matAutocomplete">
      @for (option of filteredOptions; track option) {
      <mat-option
        [value]="option.fullName"
        (onSelectionChange)="onSelection(option)"
      >
        <img
          [ngSrc]="'assets/images/characters/' + option.id + '.png'"
          width="48"
          height="48"
          [alt]="option.fullName"
          class="portrait"
        />
        {{ option.fullName }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
