<form class="flex justify-center items-center h-full">
  <mat-form-field class="md:w-142 w-103 ba-input-outline" appearance="outline">
    <mat-label>Student name</mat-label>
    <input
      type="text"
      placeholder="Name"
      aria-label="Student name"
      matInput
      [formControl]="guessInputControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
      <mat-option
        [value]="option.fullName"
        (onSelectionChange)="onSelectionChange(option)"
      >
        <img
          [ngSrc]="this.assetService.getIconLocation(option)"
          width="48"
          height="48"
          [alt]="option.fullName"
          class="portrait"
        />
        {{ option.fullName }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
