<ba-navigation></ba-navigation>
<div
  class="container flex flex-col justify-center items-center min-h-screen p-8"
>
  <div class="text-left">
    <h1 class="mb-4 font-bold text-4xl">Contact</h1>
    <p class="mb-8 text-lg">You can find me also here:</p>
    <ba-social-links></ba-social-links>
  </div>

  <footer class="text-center mt-8">
    <img
      src="assets/images/logos/starsbit-black.png"
      alt="starsbit logo"
      width="300"
      height="100"
      class="mb-4"
    />
    <p>© {{ copyrightYear }} - starsbit</p>
  </footer>
</div>
