<div class="background-container bg-white flex items-center justify-center">
  <div class="container flex flex-col justify-center items-center p-8">
    <section class="text-center">
      <h1 class="mb-4 font-bold text-4xl">Contact</h1>
      <p class="mb-8 text-lg">
        You can find me also
        <a href="https://starsbit.space" class="text-gray-600 underline"
          >here</a
        >
      </p>

      <ba-social-links></ba-social-links>
    </section>

    <footer class="text-center mt-8">
      <img
        src="assets/images/logos/starsbit-black.png"
        alt="starsbit logo"
        width="300"
        height="100"
        class="mb-4"
      />
      <p>© {{ copyrightYear }} - starsbit</p>
    </footer>
  </div>
</div>
