.correct {
  background-color: #00a86b;
  color: whitesmoke;

  span {
    color: whitesmoke;
  }
}

.correct-no-text {
  background-color: #00a86b;
}

.incorrect {
  background-color: rgb(160, 160, 160);
  color: whitesmoke;

  span {
    color: whitesmoke;
  }
}

.incorrect-no-text {
  background-color: rgb(160, 160, 160);
}

.correct-text {
  color: #00a86b;
}

.incorrect-text {
  color: rgb(160, 160, 160);
}
