.correct {
  background-color: whitesmoke;
  color: black;

  span {
    color: black;
  }
}

.correct-no-text {
  background-color: whitesmoke;
}

.incorrect {
  background-color: rgb(160, 160, 160);
  color: whitesmoke;

  span {
    color: whitesmoke;
  }
}

.incorrect-no-text {
  background-color: rgb(160, 160, 160);
}
