.ba-input-outline {
  --mat-sys-primary: whitesmoke;
  --mat-sys-primary-variant: whitesmoke;
  --mat-sys-outline: whitesmoke;
  --mat-sys-outline-variant: whitesmoke;
  --mat-icon-color: whitesmoke;
  --mat-sys-on-surface: whitesmoke;
  --mat-sys-on-surface-variant: whitesmoke;

  --mat-sys-error: red;
}
