.base-armor-type {
  text-shadow: whitesmoke -1px 0px, whitesmoke 0px 1px, whitesmoke 1px 0px,
    whitesmoke 0px -1px;
}

.normal {
  @extend .base-armor-type;
  color: #4b5884;
}

.light {
  @extend .base-armor-type;
  color: #920008;
}

.heavy {
  @extend .base-armor-type;
  color: #bd8802;
}

.special {
  @extend .base-armor-type;
  color: #226f9b;
}

.elastic {
  @extend .base-armor-type;
  color: #9a49a9;
}
