.ba-form-white-outline {
  --mat-sys-primary: whitesmoke;
  --mat-sys-primary-variant: whitesmoke;
  --mat-sys-outline: whitesmoke;
  --mat-sys-outline-variant: whitesmoke;
  --mat-icon-color: whitesmoke;
  --mat-sys-on-surface: whitesmoke;
  --mat-sys-on-surface-variant: whitesmoke;

  --mat-sys-error: red;
}

.ba-form-black-outline {
  --mat-sys-primary: black;
  --mat-sys-primary-variant: black;
  --mat-sys-outline: black;
  --mat-sys-outline-variant: black;
  --mat-icon-color: black;
  --mat-sys-on-surface: black;
  --mat-sys-on-surface-variant: black;

  --mat-sys-error: red;
}
