.normal {
  color: #4b5884;
  text-shadow: whitesmoke -1px 0px, whitesmoke 0px 1px, whitesmoke 1px 0px,
    whitesmoke 0px -1px;
}

.light {
  color: #920008;
  text-shadow: whitesmoke -1px 0px, whitesmoke 0px 1px, whitesmoke 1px 0px,
    whitesmoke 0px -1px;
}

.heavy {
  color: #bd8802;
  text-shadow: whitesmoke -1px 0px, whitesmoke 0px 1px, whitesmoke 1px 0px,
    whitesmoke 0px -1px;
}

.special {
  color: #226f9b;
  text-shadow: whitesmoke -1px 0px, whitesmoke 0px 1px, whitesmoke 1px 0px,
    whitesmoke 0px -1px;
}

.elastic {
  color: #9a49a9;
  text-shadow: whitesmoke -1px 0px, whitesmoke 0px 1px, whitesmoke 1px 0px,
    whitesmoke 0px -1px;
}
