.correct {
  background-color: whitesmoke;
  color: black;

  span {
    color: black;
  }
}

.incorrect {
  background-color: rgb(160, 160, 160);
  color: whitesmoke;

  span {
    color: whitesmoke;
  }
}
