.base-damage-type {
  text-shadow: whitesmoke -1px 0px, whitesmoke 0px 1px, whitesmoke 1px 0px,
    whitesmoke 0px -1px;
}

.normal {
  @extend .base-damage-type;
  color: #4b5884;
}

.explosive {
  @extend .base-damage-type;
  color: #920008;
}

.piercing {
  @extend .base-damage-type;
  color: #bd8802;
}

.mystic {
  @extend .base-damage-type;
  color: #226f9b;
}

.sonic {
  @extend .base-damage-type;
  color: #9a49a9;
}
