<div class="header-wrapper">
  <div class="header-element">Student</div>
  <div class="header-element">School</div>
  <div class="header-element">Damage Type</div>
  <div class="header-element">Armor Type</div>
  <div class="header-element">Role</div>
  <div class="header-element">Combat Class</div>
  <div class="header-element">Ex Skill Cost</div>
  <div class="header-element">Positioning</div>
  <div class="header-element">
    Height <br />
    (in cm)
  </div>
  <div class="header-element">Outfit</div>
</div>
