<div class="flex justify-center">
  <ba-grid-header-element title="Student"></ba-grid-header-element>
  <ba-grid-header-element title="School"></ba-grid-header-element>
  <ba-grid-header-element title="Role"></ba-grid-header-element>
  <ba-grid-header-element title="Damage Type"></ba-grid-header-element>
  <ba-grid-header-element title="Armor Type"></ba-grid-header-element>
  <ba-grid-header-element title="Ex Skill Cost"></ba-grid-header-element>
  <ba-grid-header-element title="Birthday"></ba-grid-header-element>
  <ba-grid-header-element title="Release Date"></ba-grid-header-element>
</div>
