<div class="flex justify-center">
  <ba-grid-header-element [title]="student"></ba-grid-header-element>
  <ba-grid-header-element [title]="school"></ba-grid-header-element>
  <ba-grid-header-element [title]="role"></ba-grid-header-element>
  <ba-grid-header-element [title]="damageType"></ba-grid-header-element>
  <ba-grid-header-element [title]="weaponType"></ba-grid-header-element>
  <ba-grid-header-element [title]="exSkillCost"></ba-grid-header-element>
  <ba-grid-header-element [title]="releaseDate"></ba-grid-header-element>
</div>
