<div class="guess-wrapper">
  <form class="guess-form">
    <mat-form-field class="guess-full-width">
      <mat-label>Student</mat-label>
      <input
        #input
        type="text"
        placeholder="Guess the student"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
        (input)="filter()"
        (focus)="filter()"
      />
      <mat-autocomplete requireSelection #auto="matAutocomplete">
        @for (option of filteredOptions; track option) {
        <mat-option [value]="option.fullName">{{ option.fullName }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <button mat-fab (click)="onSubmit()" [disabled]="won">
    <mat-icon>check</mat-icon>
  </button>
</div>
