<div class="game-wrapper">
  @if (won || lost) {
  <ba-countdown></ba-countdown>
  }
  <ba-guess-input
    [won]="won"
    [lost]="lost"
    (guesses)="onGuess($event)"
    class="input"
  ></ba-guess-input>

  @if (won || lost) {
  <div class="result-text">
    <ba-solution></ba-solution>
    <ba-copy-button [guesses]="guessesCopy"></ba-copy-button>
  </div>
  } @if (guesses.length <= 0) {
  <ba-tutorial></ba-tutorial>
  } @else {
  <ba-grid [guesses]="guesses"></ba-grid>
  }
  <ba-yesterdays-student></ba-yesterdays-student>
</div>
<footer>
  <img
    ngSrc="assets/images/starsbit_silver.png"
    routerLink="/about"
    style="cursor: pointer"
    alt="starsbit logo"
    width="210"
    height="70"
    priority
  />
  <div class="links">
    <a class="footer-link" href="https://x.com/starsbit1" target="_blank">
      <img
        ngSrc="assets/images/x.png"
        width="35"
        height="35"
        alt="X or Twitter"
      />
    </a>
    <a class="footer-link" href="https://starsbit.space" target="_blank">
      <img
        ngSrc="assets/images/globe.svg"
        width="35"
        height="35"
        alt="Personal Page"
      />
    </a>
    <a class="footer-link" href="https://ko-fi.com/starsbit" target="_blank">
      <img ngSrc="assets/images/kofi.png" width="35" height="35" alt="Ko-Fi" />
    </a>
  </div>
  <p style="color: whitesmoke">© 2025 - starsbit</p>
</footer>
