<div class="game-wrapper">
  @if (won || lost) {
  <ba-countdown></ba-countdown>
  }
  <ba-guess-input
    [won]="won"
    [lost]="lost"
    (guesses)="onGuess($event)"
    class="input"
  ></ba-guess-input>
  <ba-grid [guesses]="guesses"></ba-grid>
  <ba-yesterdays-student></ba-yesterdays-student>
</div>
<footer>
  <img
    ngSrc="assets/images/starsbit_logo_transparent_white_small.png"
    routerLink="/about"
    style="cursor: pointer"
    alt="starsbit logo"
    width="115"
    height="50"
    priority
  />
  <div>
    <a class="footer-link" href="https://x.com/starsbit1" target="_blank">
      <img
        ngSrc="assets/images/x.png"
        width="50"
        height="50"
        alt="X or Twitter"
      />
    </a>
    <a class="footer-link" href="https://ko-fi.com/starsbit" target="_blank">
      <img ngSrc="assets/images/kofi.png" width="50" height="50" alt="Ko-Fi" />
    </a>
  </div>
  <p style="color: whitesmoke">© 2024 - starsbit</p>
</footer>
