.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.input {
  width: 100%;
  max-width: 100%;
}

.footer-link {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1rem;
  padding: 6px;
}

.result-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  flex-shrink: 0;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  > * {
    margin: 0 10px;
    padding: 4px;
  }
}
