<div class="container">
  <div class="text-container">
    <h1>About</h1>

    <h2>Common ID Cookie</h2>
    <p>
      This site uses cookies and similar tracking technologies such as the
      Common ID cookie to provide its services. Cookies are important devices
      for measuring advertising effectiveness and ensuring a robust online
      advertising industry. The Common ID cookie stores a unique user id in the
      first party domain and is accessible to our ad partners. This simple ID
      that can be utilized to improve user matching, especially for delivering
      ads to iOS and MacOS browsers. Users can opt out of the Common ID tracking
      cookie by clicking
      <a href="/about" onclick="window.setCookie('_pubcid_optout', '1', 1825);"
        >here</a
      >.
    </p>

    <h2>Advertising Privacy Settings</h2>
    <p>
      When you use our site, pre-selected companies may access and use certain
      information on your device and about your interests to serve ads or
      personalized content. You may revisit or change consent-choices at any
      time by clicking
      <a href="/about" onclick="window.setCookie('_advert_optout', '1', 1825);"
        >here</a
      >.
    </p>
  </div>

  <footer>
    <img src="assets/images/starsbit_logo_transparent_white_small.png" />
    <p>© 2024 - starsbit</p>
  </footer>
</div>
