@if (student && display) {
<section class="flex justify-center items-center">
  <div class="md:w-140 w-80 p-1">
    <div
      class="w-full h-fit p-2 border ba-text-box-bg border-gray-300 rounded bg-black text-center"
    >
      <div class="flex items-center justify-center flex-col">
        <p
          class="text-xl text-white"
          i18n="
            Yesterdays student was|Yesterdays student
            label@@YesterdaysStudentLabel"
        >
          Yesterdays student was
        </p>
        <div class="flex flex-row items-center space-x-1">
          <img
            [ngSrc]="
              student ? this.assetService.getStudentIconLocation(student) : ''
            "
            width="40"
            height="40"
            [alt]="studentName"
          />
          <span class="text-xl incorrect-text">{{ studentName }}</span>
          <span class="text-xl text-white days-active"
            >#{{ numberOfDaysActive }}</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
}
