@if (student && display) {
<section class="flex justify-center items-center">
  <div class="md:w-158 w-80 p-1">
    <div
      class="w-full h-fit p-2 border ba-text-box-bg border-gray-300 rounded bg-black text-center space-y-4"
    >
      <div class="text-xl text-white">
        Yesterdays student was
        <span class="text-xl incorrect-text">{{ student.fullName }}</span>
        <span class="text-xl text-white"> #{{ numberOfDaysActive }}</span>
      </div>
    </div>
  </div>
</section>
}
