<div class="flex justify-center flex-wrap">
  <a
    href="https://x.com/starsbit1"
    target="_blank"
    [class]="socialLinkCssClass"
  >
    <img
      ngSrc="assets/images/social-logos/x.svg"
      alt="X"
      width="40"
      height="40"
      [class]="svgFilterCssClass"
    />
  </a>
  <a
    href="https://ko-fi.com/starsbit"
    target="_blank"
    [class]="socialLinkCssClass"
  >
    <img
      ngSrc="assets/images/social-logos/ko-fi.svg"
      alt="Ko-Fi"
      width="40"
      height="40"
      [class]="svgFilterCssClass"
    />
  </a>
  <a
    href="https://steamcommunity.com/profiles/76561198162091272"
    target="_blank"
    [class]="socialLinkCssClass"
  >
    <img
      ngSrc="assets/images/social-logos/steam.svg"
      alt="Steam"
      width="40"
      height="40"
      [class]="svgFilterCssClass"
    />
  </a>
  <a
    href="https://github.com/starsbit"
    target="_blank"
    [class]="socialLinkCssClass"
  >
    <img
      ngSrc="assets/images/social-logos/github.svg"
      alt="Github"
      width="40"
      height="40"
      [class]="svgFilterCssClass"
    />
  </a>
</div>
