<div class="row-wrapper">
  <ba-grid-element
    [targetAttribute]="target.fullName"
    [guessAttribute]="guess.fullName"
  ></ba-grid-element>
  <ba-grid-element
    [targetAttribute]="target.school"
    [guessAttribute]="guess.school"
  ></ba-grid-element>
  <ba-grid-element
    [targetAttribute]="target.damageType"
    [guessAttribute]="guess.damageType"
  ></ba-grid-element>
  <ba-grid-element
    [targetAttribute]="target.armorType"
    [guessAttribute]="guess.armorType"
  ></ba-grid-element>
  <ba-grid-element
    [targetAttribute]="target.role"
    [guessAttribute]="guess.role"
  ></ba-grid-element>
  <ba-grid-element
    [targetAttribute]="target.combatClass"
    [guessAttribute]="guess.combatClass"
  ></ba-grid-element>
  <ba-grid-element
    [targetAttribute]="target.exSkillCost"
    [guessAttribute]="guess.exSkillCost"
  ></ba-grid-element>
  <ba-grid-element
    [targetAttribute]="target.positioning"
    [guessAttribute]="guess.positioning"
  ></ba-grid-element>
  <ba-grid-element
    [targetAttribute]="target.outfit"
    [guessAttribute]="guess.outfit"
  ></ba-grid-element>
</div>
