<div class="row-wrapper">
  <ba-grid-element
    [targetAttribute]="target.id"
    [guessAttribute]="guess.id"
    [useIconInsteadOfName]="true"
    [alternativeLabel]="target.fullName"
  ></ba-grid-element>
  <ba-grid-element
    [targetAttribute]="target.school"
    [guessAttribute]="guess.school"
    [animationDelayInMs]="200"
    [isSchoolElement]="true"
  ></ba-grid-element>
  <ba-grid-element
    [targetAttribute]="target.damageType"
    [guessAttribute]="guess.damageType"
    [animationDelayInMs]="400"
  ></ba-grid-element>
  <ba-grid-element
    [targetAttribute]="target.armorType"
    [guessAttribute]="guess.armorType"
    [animationDelayInMs]="600"
  ></ba-grid-element>
  <ba-grid-element
    [targetAttribute]="target.role"
    [guessAttribute]="guess.role"
    [animationDelayInMs]="800"
    [isRoleElement]="true"
  ></ba-grid-element>
  <ba-grid-element
    [targetAttribute]="target.combatClass"
    [guessAttribute]="guess.combatClass"
    [animationDelayInMs]="1000"
  ></ba-grid-element>
  <ba-grid-element
    [targetAttribute]="target.exSkillCost"
    [guessAttribute]="guess.exSkillCost"
    [animationDelayInMs]="1200"
  ></ba-grid-element>
  <ba-grid-element
    [targetAttribute]="target.positioning"
    [guessAttribute]="guess.positioning"
    [animationDelayInMs]="1400"
  ></ba-grid-element>
  <ba-grid-element
    [targetAttribute]="target.outfit"
    [guessAttribute]="guess.outfit"
    [animationDelayInMs]="1600"
  ></ba-grid-element>
</div>
