<section class="flex justify-center items-center">
  <div class="md:w-158 w-80 p-1">
    <div
      class="w-full h-fit p-2 border ba-text-box-bg border-gray-300 rounded bg-black text-center"
    >
      <h1 class="text-2xl font-bold text-white">Blue Archive Wordle</h1>

      <p class="text-xl text-white">Guess today's Blue Archive student!</p>

      <p class="text-xl text-white">
        <span class="correct-text font-bold">White</span> means same as searched
        student.
      </p>

      <p class="text-xl text-white">
        <span class="incorrect-text font-bold">Grey</span> means different from
        searched student.
      </p>

      <p class="text-xl text-white my-4">Type any student's name to begin.</p>

      <p class="text-xl text-white">
        Press the <i class="material-icons">content_copy</i> to copy your score!
      </p>
    </div>
  </div>
</section>
