<section class="flex justify-center items-center">
  <div class="md:w-158 w-80 p-1">
    <div
      class="w-full h-fit p-2 border ba-text-box-bg border-gray-300 rounded bg-black text-center"
    >
      <h1
        class="text-2xl font-bold text-white"
        i18n="
          Blue Archive Wordle|Title of the game in the tutorial@@TutorialTitle"
      >
        Blue Archive Wordle
      </h1>

      <p
        class="text-xl text-white"
        i18n="
          Guess today's Blue Archive student!|First line of
          tutorial@@TutorialFirst"
      >
        Guess today's Blue Archive student!
      </p>

      <p
        class="text-xl text-white"
        i18n="
          Green means same as searched student.|Second line of
          tutorial@@TutorialSecond"
      >
        <span class="correct-text font-bold">Green</span> means same as searched
        student.
      </p>

      <p
        class="text-xl text-white"
        i18n="
          Grey means different from searched student.|Third line of
          tutorial@@TutorialThird"
      >
        <span class="incorrect-text font-bold">Grey</span> means different from
        searched student.
      </p>

      <p
        class="text-xl text-white my-4"
        i18n="
          Type any student's name to begin.|Fourth line of
          tutorial@@TutorialFourth"
      >
        Type any student's name to begin.
      </p>

      <p
        class="text-xl text-white"
        i18n="Press the to copy your score!|Fifth line of tutorial@@Tutorial"
      >
        Press the <i class="material-icons">content_copy</i> to copy your score!
      </p>
    </div>
  </div>
</section>
