.tutorial-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.7);
}

.tutorial-header {
  font-size: 32px;
  font-weight: bold;
  color: whitesmoke;
}

.tutorial-main {
  font-size: 24px;
  color: whitesmoke;
}

.tutorial-sub {
  font-size: 24px;
  color: whitesmoke;
}

.green-text {
  color: #50c878;
}

.grey-text {
  color: rgb(160, 160, 160);
}
