/* You can add global styles to this file, and also import other style files */

ba-root {
  flex-grow: 1;
  overflow: auto;
}

html,
body {
  width: 100vw;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  html,
  body {
    width: 100%;
    height: 100vh;
    min-height: 100% !important;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}
